.fa-rupee-sign {
  font-size: 11px;
}

.dashboard-review {
  width: 30%
}

.dashboard-review h3 {
  font-size: 12px;
  font-weight: bold;
}

.fa-star {
  color: #FFD700;
}

.fa-star-half-alt {
  color: #FFD700;
}
