<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="banner-title">Green Room</h1>
        <h3 class="banner-text">Film Location Finder</h3>
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
      </div>
    </div>
  </div>
</section>

<div class="banner-carousel">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dc3qodxke/image/upload/v1559018911/war_esovaj.jpg" class="d-block w-100" alt="#">
        <div class="carousel-caption d-none d-md-block">
          <h5>Green Room: Location Finder</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://thewallpaper.co//wp-content/uploads/2016/03preview/clouds-drum-and-bass-liquicity-yoga-wide-hd-wallpaper-iphone-background-images-desktop-images-high-resolution-1920x1080.jpg" class="d-block w-100" alt="#">
        <div class="carousel-caption d-none d-md-block">
          <h5>Hollywood Locations. B-list pricing</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dc3qodxke/image/upload/v1559024560/city_dyobvl.jpg" class="d-block w-100" alt="#">
        <div class="carousel-caption d-none d-md-block">
          <h5>Green Room</h5>
          <p>Location Finder</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="p-3">
  <div class="cards">
    <%= link_to locations_path, { class: "nounderline" } do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1484447089447-a742155835e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">
        <p>Mumbai</p>
      </div>
    <% end %>

    <%= link_to locations_path, { class: "nounderline" } do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1555952238-ae1739caa01a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">
        <p>New Delhi</p>
      </div>
    <% end %>

    <%= link_to locations_path, { class: "nounderline" } do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1477091889224-8320eb2f1c66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDdx9&auto=format&fit=crop&w=500&q=60)">
        <p>Bengaluru</p>
      </div>
    <% end %>
  </div>
</div>
