.banner-title{
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 99px;
color: #b2babbbd

}

.bannner-text{
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 60px;
color: #b2babbbd
}

