.show-img {
  height: 70vh;
  background-size: cover;
  background-position: center;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  color: white;
  font-size: 100px;
  flex-grow: 1;
  position: relative;
}

.big-name {
  width: 30%;
  padding-left: 25px;
  padding-top: 30px;
  font-size: 30px;
  color: #616161;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.big-name p {
  font-size: 16px;
}

.calendar-img {
  width: 300px;
}

.body-text {
  font-weight: lighter;
}

.show-btn {
  background-color: #58c6dabf;
  border-color: #58c6da5e;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.show-btn:hover {
  background-color: #b5b5b5;
  border-color: #b5b5b5;
}

.create-btn {
  background-color: #58c6dabf;
  border-color: #58c6da5e;
}

.create-btn:hover {
  background-color: #b5b5b5;
  border-color: #b5b5b5;
}

